.reports-block-links .report-link {
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#block-region-content .reports-block-links .report-link {
	width: 47%;
	margin-right: 10px;
}
#block-region-content .report-link:last-child {
	margin-right: 0;
}
.reports-block-links .report-link button {
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	border: 1px solid #9739f9;
	border-radius: 5px;
	background: #9739f9;
	padding: 15px 30px;
	margin: 0;
	display: inline-flex;
	align-items: center;
	outline: none;
}
.reports-block-links .report-link button:hover,
.reports-block-links .report-link button:focus,
.reports-block-links .report-link button:active {
	background: #9739f9 !important;
	border-color: #9739f9 !important;
}
.reports-block-links .report-link button i {
	font-size: 30px;
	margin-right: 15px;
}
.reports-block-links .report-link + .report-link button {
	border-color: #677bea;
	background: #677bea;
}
.reports-block-links .report-link + .report-link button:hover,
.reports-block-links .report-link + .report-link button:focus,
.reports-block-links .report-link + .report-link button:active {
	background: #677bea !important;
	border-color: #677bea !important;
}
.reports-block-links .report-link:last-child button {
	border-color: #ff9b8f;
	background: #ff9b8f;
}
.reports-block-links .report-link:last-child button:hover,
.reports-block-links .report-link:last-child button:focus,
.reports-block-links .report-link:last-child button:active {
	border-color: #ff9b8f !important;
	background: #ff9b8f !important;
}
.visits-report-chart {
    margin-bottom: 3%;
}
.visits-report-chart .chart-block {
    padding: 0px 50px 0px 50px;
}
.visits-report-chart .report-not-available {
	margin-top: 2%;
}

.block_visitsreport .reports-block-links .report-link {
	width: 100%;
	height: auto;
	margin: 0 0 15px 0;
}
.block_visitsreport .reports-block-links .report-link:last-child {
	margin-bottom: 0;
}
.block_visitsreport .reports-block-links .report-link:after {
	width: 50px;
	height: 50px;
}
.block_visitsreport .reports-block-links .report-link button {
	font-size: 16px;
	text-align: left;
	padding: 10px;
}
.block_visitsreport .reports-block-links .report-link button i {
	font-size: 16px;
}


/*Chart page*/

.visits-report-chart .heading-block h3 {
	display: inline-block;
	vertical-align: middle;
}
.visits-report-chart .heading-block span {
	width: 37px;
    height: 37px;
    line-height: 37px;
	text-indent: -999em;
	border-radius: 50%;
	padding: 0;
	margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.visits-report-chart .chart-block {
	padding-top: 20px;
	/* clear: both; */
}
.visits-report-chart .top-section .heading-block a {
	display: inline-block;
	vertical-align: middle;
}
.visits-report-chart .top-section .heading-block span.pull-left {
	margin-top: 12px;
}
.visits-report-chart .top-section .heading-block span.pull-left i {
	width: 100%;
	line-height: 37px;
	text-indent: 0;
	float: left;
}
.visits-report-chart .top-section .right-menu {
	margin-top: 15px;
}
.visits-report-chart .top-section .right-menu form .form-group {
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.visits-report-chart .right-menu {
	text-align: center;
}

.visits-report-chart span.loading-icon.icon-no-margin {
    display: inline-block;
    margin-bottom: 1rem;
    position: absolute;
}

.visits-report-chart  #fitem_id_users {
	text-align: left;
}

.visits-report-chart table.flexible {
    display: none;
}

.visits-report-chart .download-menu {
	
    margin-top: 15px;
	margin-bottom: 1rem;
	text-align: right;
}
.visits-report-chart .download-menu .form-inline {
	justify-content: center;
}

.visits-report-chart .download-menu > h2 {
	display: none;
}

.visits-report-chart #fitem_id_startdate fieldset label.form-check[data-fieldtype="checkbox"] {
	display: none;
}

.visits-report-chart .chart-block-parent {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}