<div class="reports-block-links">
	{{#sitereport}}
	<div class="report-link site-visit">
		<form action="{{{sitereporturl}}}" method="post">
			<input type="hidden" name="returnurl" value="{{{returnurl}}}">
			<button type="submit"> <i class="fa fa-globe"></i> {{#str}} sitevisits, block_visitsreport {{/str}} </button>
		</form>
	</div>
	{{/sitereport}}
	{{#coursereport}}
	{{#iscoursepage}}
	<div class="report-link course-visit">
		<form action="{{{coursereporturl}}}" method="post">
			<input type="hidden" name="returnurl" value="{{{returnurl}}}">
			<button type="submit"><i class="fa fa-book"></i> {{#str}} coursevisits, block_visitsreport {{/str}} </button>
		</form>
	</div>
	{{/iscoursepage}}
	{{/coursereport}}
	{{#usersreport}}
	<div class="report-link user-visit">
		<form action="{{{usersreporturl}}}" method="post">
			<input type="hidden" name="returnurl" value="{{{returnurl}}}">
			<button type="submit"><i class="fa fa-users"></i>{{#str}} mostfrequentusers, block_visitsreport {{/str}}  </button>
		</form>
	</div>
	{{/usersreport}}
</div>